<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
layout:decorator="template1">
<head>
<meta charset="utf-8"/>
<title>ProxiBanque</title>
</head>
<body>
<div layout:fragment="content">

<div class="col-md-6">
<div class="panel  panel-default">
<div class="panel-heading" style="background-color: #8FBC8F; padding: 6px; color:#000;">Ajouter une Agence</div>
<div class="panel-body">
<form th:action="@{/saveagence}" method="post">
<div>
<label>Nom Agence :</label>
<input type="text" name="nomAgence" class="form-control" />
</div>
<div>
<label>Date Création :</label>
<input type="date" name="datecreation" class="form-control" />
</div>
<div>
<button type="submit">OK</button>
</div>
</form>
</div>

</div>
</div>

<div class="col-md-6" >
<div class="panel  panel-default">
<div class="panel-heading" style="background-color: #8FBC8F; padding: 6px; color:#000;">Liste des Agences</div>
<div class="panel-body">
<table class="table table-striped">
<tr>
<th>CodeAgence</th><th>Nom Agence</th><th>Date Création</th>
</tr>
<tr th:each="c:${listeAgence}">
<td th:text="${c.codeAgence}"></td>
<td th:text="${c.nomAgence}"></td>
<td th:text="${c.dateCreation}"></td>
</tr>
</table>

</div>

</div>


</div>

</div>


</body>
</html>